@media (max-width: 1439px){
    .img2{
        
        width: 591px;
    
    }
    .img3{
        width: 283.5px;
        position: absolute;
        top: 530px;
        left: 320px;
    }
    .img5{
        width: 345px;
        position: absolute;
        
    }
    .img4{
        width: 345px;
        height: 260px;
        position: absolute;
        top: 530px;
    }
    .img7{
        position: absolute;
        top: 530px;
        left: 0;
    }
    .section3_div{
      margin-left: 10px;
    }
    h3{
        margin-left: -150px;
    }
    .header1{
        display: flex;
        justify-content: space-between;
        
    }
    .images_div{
        margin-left: -380px;
    }
    .section2{
        margin-left: 150px;
    }
}
@media (max-width: 1243px){
    .header1{
        display: flex;
        justify-content: space-between;
        width: 1227px;
    }
    .images_div{
        margin-left: -310px;
    }
}
@media (max-width: 1235px){
.header1{
    display: flex;
    justify-content: space-between;
    width: 1195px;
}

.logo_image{
    margin-left: -100px;
}
.sign_text{
    margin-left: -100px;
}
.images_div{
    margin-left: -220px;
}
.title2{
    margin-left: -280px;
}
.title3{
    margin-left: 350px;
}
.section5_title{
    margin-left: -260px;
}
.input1{
    margin-left: -240px;
}
.label1{
    margin-left: -300px;
}
}
@media (max-width: 1175px){
    .header1{
        width: 1150px;
    }
}
@media (max-width: 1130px){
    .header1{
        width: 1100px;
    }
}
@media (max-width: 1087px){
   .header1{
   
    width: 1024px;
     position: fixed;
     padding-inline: 20px;
   }

   .section_cover{
    width: 1069px;
    height: 640px;
   }  
   .cover1{
    position: relative;
   }  
   .title1{
    position: absolute;
    top: 220px;
   }
   .text1{
    position: absolute;
    top: 300px;
   } 
   .input2{
    margin-left: 80px;
   }
   .label2{
    margin-left: 50px;

   }
   .button1{
    position: absolute;
    top: 450px;
   }
   .section2{
    margin-left: 116px;
   }
   .section3{
    width: 1024px;
   }
   .section3_div{
    margin-left: 32px;
   }

h3{
  position: absolute;
  left: 550px;
}
.logo_image{
    margin-left: 200px;
    top: 25px;
}
.section4{
    margin-left: 132px;
  
}
.numbers_article{
    margin-top: -300px;
    margin-left: 400px;
}
.image67{
    margin-left: -200px;
}
.image49{
    margin-left: -70px;
}
.image44{
    margin-left: -120px;
}

.title2{
position: absolute;
left: 220px;
}
.card_title{
   position: absolute;
   left: -370px;
}
.card_title2{
   margin-left: -160px;
}


.card_title3{
margin-left: -150px;
}
.section4_div{
    margin-left: 300px;
}
.card_surface_content3{
    display: none;
}
.section5_title{
    margin-left: 30px;
}
.input1{
    margin-left: 30px;
}
.label1{
    margin-left: 30px;
}
.article_text3{
    margin-left: 100px;
}
.button3{
    margin-left: 190px;

}
.image21{
    margin-left: 80px;
}
.image22{
    margin-left: 120px;
}
.logo_image2{
    margin-left: 300px;
}
.image1{
 
    height: 260px;
}
.image2{
    height: 260px;
}

.cover2{
    width: 1024px;
    
}
.section5_title{
    position: absolute;
    left: 310px;
  top: 80px;
}
.input1{
    position: absolute;
    left: 290px;
    top: 160px;

}
.label1{
    position: absolute;
    left: 620px;
    top: 160px;
}
.article1{
    width: 960px;
    height: 564px;
    display: flex;
    flex-wrap: wrap;
}
.article_div1{
    width: 468px;
    height: 172px;
    
}
.article_div2{
    width: 960px;
    height: 124px;
   margin-bottom: 160px;
  
}
.article_div3{
    width: 468px;
    height: 172px;
   
}
.article_text3{
    position: absolute;
    top: 3700px;
    left: 100px;
}
.button3{
    position: absolute;
    top: 3800px;
    left: 100px;
}
.title3{
  margin-left: 250px;
}
.footer1{
    width: 1024px;
}
.footer_nav{
    position: absolute;
    left: -110px;
}
.image3{
    position: absolute;
    left: 0;
}
.image21{
    position: absolute;
    left: 90px;
}
.image22{
    position: absolute;
    left: 140px;
}
.logo_image{
    position: absolute;
    left: 300px;
}
.contact_div{
    margin-top: 32px;
    margin-right: -100px;
}
.card_title{
 position: absolute;
 right: -70px;;
 bottom: 16px;
 width: 88px;
height: 48px;
border: none;
border-radius: 20px;
color: #B53B1B;
font-family: 'Inter';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.card_title2{
    position: absolute;
    left: -120px;
}
.card_title3{
    position: absolute;
  left: 180px;
}
.section4_div{
    margin-right: 80px;
}
.title1{
   position: absolute;
  top: 200px;
}
.input2{
    position: absolute;
    top: 250px;
    left: 218px;
}
.label2{
    position: absolute;
    top: 250px;
    right: 218px;
}
.section6{
    width: 960px;
    height: 1716px;
    
}
.image56{
    display: none;
}
.image55{
    position: absolute;
 top: 440px;
 right:  475px;
}

.image18{
    position: absolute;
    top: 100px;
}
.image28{
    position: absolute;
    top:  440px;
    left: 440px;
}
.images_text22{
    display: none;
}
.images_text23{
    display: none;
}
.image57{
    display: none;
}
.image68{
    position: absolute;
    top: 760px;
    left: 100px;
}
.image70{
    position: absolute;
    top: 760px;
    right: 40px;
}
.image71{
   position: absolute;
   left: 0;
   top: 1050px;
  
}
.image72{
    position: absolute;
    top: 730px;
}
.numbers_div{
    margin-top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -350px;
}
.images_div5{
    position: absolute;
    left: 420px;
}
.nav2{
    position: absolute;
    left: -110px;
}
.logo_div4{
    position: absolute;
    left: 300px;
}
.image44{
    position: absolute;
    left: 90px;
}
.image49{
    position: absolute;
    left: 140px;
}
.section2_title{
position: absolute;
top: 30px;
}
.section2_div2{
    position: absolute;
    top: 40px;
    right: 50px;
}
.images_text43{
    
   left: -430px;
}
.img17{
   
    left: -80px;
}
.images_text7{
    
     top: 340px;    
}
.images_text6{
  
    top: 250px;
    left: -20px;
}
.img18{
left: 320px;
}
.images_text29{
 top: 680px;
}
 .images_text10{
top: 570px;
left: -840px;
 }
 .img21{
    top: 470px;
    left: -280px;
 }
 .images_text33{
  position: absolute;
  top: 680px;
  left: 540px;
 }
 .images_text34{
    position: absolute;
    top: 550px;
    left: -290px;
 }
 .img75{
    position: absolute;
    top: 550px;
    left: -70px;
 }
 .images_text76{
    position: absolute;
    top: 1000px;
    right: 730px;
 }
 .images_text78{
position: absolute;
 top: 880px;
 left: -695px;
 }
 .img80{
    position: absolute;
    top: 860px;
    left: -470px;
 }
 .images_text8{
    position: absolute;
    top: 970px;
 }
 .images_text9{
    position: absolute;
    top: 1000px;
 }
 .img20{
    position: absolute;
    top: 980px;
 }
 .images_text31{
    top: 340px;

 }
 .images_text7{
    position: absolute;
    top: 1000px;
    left: 520px;
 }
.images_text5{
    position: absolute;
    top: 200px;
}













.cover3{
    width: 1024px;
    height: 720px;
}
.form1{
    position: absolute;
    top: 150px;
    left: 32px;
}
.section7{
    width: 960px;
    
}
.map{
    position: absolute;
    left: -380px;
    width: 714px;
    height: 320px;
}
.section7_title{
    margin-left: 350px;
}
.logo_div5{
    margin-left: 500px;
}
.image3{
    position: absolute;
    left: 10px;
}
.image88{
    position: absolute;
    left: 90px;
}
.image87{
    position: absolute;
    left: 140px;
}
}