@media (max-width: 480px){
    .header1{
        width: 480px;
    }
    .header_nav{
        display: none;
    }
    .burger_menu{
        display: block;

        
    }
 
    .logo_image{
        width: 113px;
        height: 78px;
        position: absolute;
        top: 10px;
        left: 400px;
        
        
    }
    .section_cover{
        width: 480px;
        height: 400px;
    }
    .title1{
        font-size: 32px;
        line-height: 39px;
    margin-left: -80px;
    margin-top: -70px;
        width: 391.56px;
    height: 39px;
    }
    .text1{
        width: 440px;
        height: 114px;  
      
        font-size: 16px;
        line-height: normal;
  
        margin-top: -50px;
        left: 320px;
      }
      .button1{
        margin-top: -100px;
        margin-left: -150px;
      }
      .section2{
        margin-left: 20px;
      }
      .img4{
        display: none;
      }
      .img44{
        display: none;
      }
      .section3{
        width: 480px;
        height: 903px;
      }
      .img2{
        width: 432px;
        height: 240px;
        margin-left: -200px;
      }
 .img89{
    width: 432px;
    height: 240px;

 }
      .img5{
        width: 432px;
        height: 240px;
        margin-left: -600px;
        top: 550px;
      }
      h3{
        margin-left: -170px;
      }
      .title2{
        margin-left: -250px;
      }
    .section5{
        width: 480px;
        height: 200px;
    }
    .section5_title{
        margin-left: -150px;
    }
    .input1{
        margin-left: -50px;
        
    }
    .label1{
margin-left: -190px;
    }
    .article1{
        width: 432px;
        height: 812px;
    }
    .article_div3{
        width: 432px;
        height: 196px;
    }
    .article_div1{
        width: 432px;
        height: 196px;
    }
  .article_div2{
    width: 432px;
    height: 148px;
    margin-left: -260px;
  }
  .article_text3{
  margin-top: -450px;
  margin-left: -10px;
  width: 389px;
  height: 58px;
  }
.button3{
    margin-top: -420px;
    margin-left: -5px;
}
.footer1{
width: 480px;
height: 330px;
   
}
.footer_nav{
    margin-left: 160px;
}
.image3{
   left: 157px;
}
.logo_image2{
   margin-top: 200px;
   margin-left: 400px;
   width: 234px;
   height: 44px;
}
.image7{
top: 300px;
margin-left: -350px;
margin-top: 280px;

}
.image8{
  margin-left: -310px;
  margin-top: -30px;

} 
.image9{
  margin-left: -270px;
  margin-top: -60px;
 
}
.cover5{
width: 460px;
height: 400px;
}
.input2{
  margin-top: -20px;
}
.label2{
  margin-top: -20px;
}
.cover3{
  width: 480px;
  height: 560px;
}
.form1{
  margin-left: -20px;
  width: 432px;
  height: 400px;
}
.input3{
  margin-left: 250px;
width: 160px;
height: 40px;
}
.input4{
  margin-left: 20px;
  width: 160px;
  height: 40px;
}
.area2{
  width: 392px;
  height: 96px;
margin-left: 20px;
}
.submit2{
  margin-left: 90px;
}
.footer1{
  margin-bottom: 64px;
  min-height: 400px;

}
.logo_div4{
  margin-top: 200px;
left: 260px;
}
}
@media (max-width: 320px){
.section7{
  display: none;
}
.footer1{
  /* display: none; */
}
.header1{
  width: 480px;
  height: 96px;
}
.header_nav {
  background: #B53B1B;
  position: fixed;
  top: 146.4px;
  left: -100%;
  transition: .5s linear;
}
.show{
  left: 0;
}
.header_ul {
  flex-direction: column;
  align-items: center;
}
.sign_div{
  margin-left: -140px;
}
.logo_image{
  width: 113px;
  height: 78px;
}
.form1{
  width: 400px;
  height: 264px;
  margin-left: -30px;
}
.main_title{
  display: none;
}
.input3{
 margin-top: -90px;
  margin-left: 80px;
  width: 180px;

}
.input4{
  margin-top: -90px;
 width: 150px;
 left: -15px;

}
.area2{
  width: 300px;
  height: 96px;
  margin-left: -80px;
  margin-top: 10px;
}
.submit2{
  margin-top: -120px;
  width: 147px;
  height: 56px;
  margin-left: 80px;
}
.cover3{

}
}
