@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

/* CONTAINER */
.container{
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
/* HEADER */
.header1{
    height: 96px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    column-gap: 279px;
    background: rgba(64, 33, 1, 0.80);
    backdrop-filter: blur(4px);
    position: fixed;
    max-width: inherit;
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 1;
}

.burger,
.mark {
    font-size: 0;
    display: none;
}
.fa-bars,
.fa-xmark{
    display: none;
}

.header_ul{
    display: flex;
}
.header_li{
    padding-left: 60px;
}
.active{
    color: #D5906E;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.no_active{
    color: #FFF;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sign_div{
    display: flex;
}
.sign_text{
    color: #FFF;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 16px;
}
.option2 {
    display: flex;
    -webkit-column-gap: 32px;
    -moz-column-gap: 32px;
    column-gap: 32px;
    display: none;
}

#option {
    color: #B53B1B;
    outline: none;
    border: none;
   background-color: transparent;
   display: none;
}


/* SECTION1 */
.cover1{
    position: relative;
    height: 640px;
    background-color:white;
    
}
.section_cover{
    object-fit: cover;
}
.text_div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
}
.text1{
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;  
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 264px;
   
}
.button1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 392px;
    padding: 12px 45px;
    border-radius: 10px;
    border: 2px solid #D5906E; 
    background-color:transparent ;
    color: #FFF;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px
}
.button1::before{
    content: "";
    width: 0;
    height: 5px;
    background-color: gold;
    display: block;
    position: absolute;
 top: 0;
 left: 0;
  transition: 1s linear;   
}
.button1::after{
    content: "";
    width: 0;
    height: 5px;
    background-color: gold;
    display: block;
    position: absolute;
  right: 0;
  bottom: 0;
  transition: 1s linear;
}
.button1:hover::before, 
.button1:hover::after{
    width: 100%;
}


/* SECTION2 */
.section2{
    margin-top: 160px;
    margin-left: 324px;
    display: flex;
    width: 792px;
    height: 162px;
    justify-content: center;
    align-items: flex-start;
    column-gap: 24px;
}
.text2{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B53B1B;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}
/* SECTION3 */
.section3{
    margin-top: 260px;
    background-color: #402101;
    height: 902px;
}
.section3_div{
    margin-left: 120px;
    position: relative;
}
.img2{
    margin-top: 184px;
    margin-right: 40px;
    margin-bottom: 40px;
    height: 322px;
    object-fit: cover;
}
.img3{
    margin-right: 40px;
    height: 260px;
    object-fit: cover;
}
h3{
   display: flex;
   justify-content: center;
   position: absolute;
   top: 96px;
   left: 500px;
   color: #FFF;
   font-family: 'Inter';
   font-size: 40px;
   font-style: normal;
   font-weight: 700;
   line-height: 48px;
}
.section4{
    height: 348px;
}
.section4_div{
    margin-top: 160px;
    display: flex;
    justify-content: space-around;
    position: relative;
    
}
.title2{
    color: #402101;
    font-family: 'Inter';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
    position: absolute;
    top: -70px;
    left: 565px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image1{
 margin-right: 24px;
 width: 100%;
 height: 260px;
 object-fit: cover;
}
.image2{
    margin-right: 24px;
    width: 100%;
    height: 260px;
    object-fit: cover;
}
.card_surface_content{
    position: absolute;
    bottom: 0;
    display: flex;
 
    left: 16px;
 
}
.card_surface_content1{
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 15px 17px 14px 17px;
    justify-content: center;
    align-items: center;
   
   
   

}
.card_surface_content2{
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 15px 17px 14px 17px;
    justify-content: center;
    align-items: center;

  
    
}
.card_surface_content3{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    left: 370px; 
   
    
}
.card_title{
    border: none;
    color: #B53B1B;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 17px 14px 17px;
 position: absolute;
 bottom: 20px;
    border-radius: 20px;
    background: #FFF;
    height: 48px;
}
.card_title4{
    position: absolute;
    border: none;
    left: 5px;
    bottom: 20px;
    color: #B53B1B;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 17px 14px 17px;

    border-radius: 20px;
    background: #FFF;
    height: 48px;
}
.card_title3{
    position: absolute;
   left: 390px;
   bottom: 16px;
   color: #B53B1B;
   font-family: 'Inter';
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   padding: 15px 17px 14px 17px;
   border-radius: 20px;
   background: #FFF;
   height: 48px;
}
.card_title2{
    position: absolute;
    left: 30px;
    bottom: 16px;
    color: #B53B1B;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 17px 14px 17px;
    border-radius: 20px;
    background: #FFF;
    height: 48px;
}
/* SECTION5 */
.section5{
    height: 480px;
}
::placeholder{
    color: #FFF;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.section5_div{
    position: relative;
}
.section5_title{
    position: absolute;
    top: 160px;
    left: 489px;
    color: #FFF;
    font-family: 'Inter';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.input1{
    position: absolute;
    top: 264px;
    left: 477px;
    width: 482px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #FFF;
    background-color: transparent;
    column-gap: 205px;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 19px;
}
.label1{
    position: absolute;
    top: 264px;
    left: 956px;
    width: 151px;
    height: 56px;
    border-radius: 0px 10px 10px 0px;
    background: #FFF;
    color: #402101;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -120px;
}
.article1{
    display: flex;
    column-gap: 16px;
    justify-content: center;
    align-items: center;
}

.title3{
    margin-top: 160px;
    margin-left: 490px;
    color: #402101;
    font-family: 'Inter';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.article_div1{
  margin-top: 40px;
  border-radius: 8px;
  background: rgba(213, 144, 110, 0.30);
  width: 384px;
  height: 200px;
  
}
.article_div2{
    margin-top: 40px;
    border-radius: 8px;
    background: rgba(213, 144, 110, 0.30);
    width: 384px;
    height: 200px;
    
}
.article_div3{
    margin-top: 40px;
    border-radius: 8px;
    background: rgba(213, 144, 110, 0.30);
    width: 384px;
    height: 200px;
}
.article_title1{
    color: #B53B1B;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 

}
.article_text1{
    color: #402101;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    margin-top: 16px;
    
}
.article2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.article_text3{
    margin-top: 46px;
    
    color: #402101;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}
.button3{
    margin-top: 24px;
    margin-left: 80px;
    border-radius: 10px;
    background: #B53B1B;
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    padding: 12px 52px;
    border: none;
    position: relative;
}
.button3::before{
    content: "";
    width: 0;
    height: 5px;
    background-color: gold;
    display: block;
    position: absolute;
 top: 0;
 left: 0;
  transition: 1s linear;   
}
.button3::after{
    content: "";
    width: 0;
    height: 5px;
    background-color: gold;
    display: block;
    position: absolute;
  right: 0;
  bottom: 0;
  transition: 1s linear;
}
.button3:hover::before, 
.button3:hover::after{
    width: 100%;
}
/* FOOTER */
.footer1{
    height: 218px;
    background: #402101;
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
}
h4{
    margin-top: 32px;
    margin-left: 120px;
    margin-bottom: 16px;
    color: #FFF;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    
}

.footer_li{
 margin-top: 16px;
 margin-left: 120px;
    color: #FFF;
    font-family: 'Rubik';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; 
}

.images_div{
    margin-top: 162px;
    margin-left: -410px;
    display: flex;
    column-gap: 24px;
}
.image1:hover{
    overflow: hidden;
    transform: scale(120%);
}
.image2:hover{
    overflow: hidden;
    transform: scale(120%);
}
.image3{
position: relative;
}
.image3::before{
    content: "";
    width: 0;
    height: 5px;
    background-color: gold;
    display: block;
    position: absolute;
 top: 0;
 left: 0;
  transition: 1s linear;   
}
.image3::after{
    content: "";
    width: 100;
    height: 5px;
    background-color: gold;
    display: block;
    position: absolute;
right: 0;
bottom: 0;
  transition: 1s linear;
}
.image3:hover::before, 
.image3:hover::after{
    width: 100%;
}
.image4{
    position: relative;
    }
    .image4::before{
        content: "";
        width: 0;
        height: 5px;
        background-color: green;
        display: block;
        position: absolute;
     top: 0;
     left: 0;
      transition: 1s linear;   
    }
    .image4::after{
        content: "";
        width: 100;
        height: 5px;
        background-color: green;
        display: block;
        position: absolute;
    right: 0;
    bottom: 0;
      transition: 1s linear;
    }
    .image4:hover::before, 
    .image4:hover::after{
        width: 100%;
    }
.logo_div2{
    margin-top: 32px;
  
}
.contact_div{
    display: grid;
    align-items: center;
    margin-top: 32px;
}
.contact_text1{
margin-right: 164px;
margin-left: 6px;
float: right;
color: #FFF;
font-family:  'Rubik';
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px; 
margin-top: -5px;
}
.contact_text2{
    display: flex;
    margin-left: 30px;
    align-items: center;
    color: #FFF;
    font-family:   'Rubik';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; 
    margin-top: -5px;
}
.image7,.image8,.image9{
    width: 18px;
    height: 18px;
    float: left;
}
.card5{
    height: 56px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    background: #D5906E;
    color: #FFF;

font-family: 'Inter';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px;

}
.input2{
    display: flex;
    height: 56px;
    justify-content: flex-end;
    align-items: center;
    gap: 239px;
    border-radius: 10px;
    border: 2px solid #D5906E;
    margin-top: 40px;
}
.input2::placeholder{
    color: rgba(213, 144, 110, 0.52);
font-family: 'Inter';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}
.label2{
    display: flex;
    height: 56px;
    padding: 15px 53px 15px 54px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    background: #D5906E;
    margin-top: 40px;
margin-left: -120px;
}

/* SECTION6 */
.section6{
    display: flex;
    justify-content: space-between;
    align-items: center;
margin-left: 80px;
width: 1201px;
height: 1350px;
}

.section2_title{
    color: #623932;
    font-family: 'Inter';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; 
    margin-top: -350px;
}
.section2_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 160px;
}
.section2_div2{
    border-radius: 5px;
    border: 2px solid #B53B1B;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 642px;
    margin-top: -350px;
}
.section2_text{
    margin-right: 24px;
    margin-left: 21px;
    
}
.image_frame{
    display: flex;
     justify-content: space-between;
    align-items: center;
   flex-wrap: wrap;
    row-gap: 40px;
    position: relative;
    column-gap: 13px;
    margin-top: 160px;
}
.pottery_cards1{
    display: flex;
    margin-top: -150px;
    position: relative;
    column-gap: 24px;
  
}
.pottery_title{
    position: absolute;
 top: 250px;
    color: #B53B1B;
    font-family: 'inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pottery_title1{
    position: absolute;
    top: 250px;
    left: 435px;
    color: #B53B1B;
    font-family: 'inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pottery_title2{
    position: absolute;
    top: 250px;
    right: 310px;
    color: #B53B1B;
    font-family: 'inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.price7{
    position: absolute;
    left: -400px;
}
.price1{
    position: absolute;
    top: 280px;
    right: 340px;
    color: #402101;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}
.price2{
    position: absolute;
    top: 280px;
    right: 340px;
    color: #402101;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}
.price_div{
   position: relative;
}
.price{
    position: absolute;
    top: 280px;
    right: 340px;
    color: #402101;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}
.shop1{
position: absolute;
top: 270px;
right: 30px;
}
.shop2{
    position: absolute;
    top: 270px;
    right: 30px;
}
.shop3{
    position: absolute;
    top: 270px;
    right: 25px;
}
.shop4{
position: absolute;
top: 270px;
left: -450px;

}
.shop7{
    position: absolute;
    left: 340px;
    top: 30px;
}
.pottery_cards2{
    margin-top: 50px;
}
.pottery_card{
    position: absolute;
    top: 350px;
    right: -20px;
    display: flex;
    column-gap: 46px;
   
    
}
.shop6{
    position: absolute;
    top: 270px;
    left: -60px;
}

.potter6{
    position: absolute;
    left: -355px;
}
.img91{
    position: absolute;
    left: -790px;
}
.potter5{
    position: absolute;
    left: 95px;
}
.price3{
    position: absolute;
    top: 340px;
    left: -435px;
    color: #402101;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 

}
.pottery_cards3{

left: 1250px;
display: flex;
justify-content: center;
align-items: center;
margin-top: -600px;

  
}
.price6{
   position: absolute;
   top: 40px;
   left: 5px;
   color: #402101;
   font-family: 'Inter';
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px; 
}
.price3{
   margin-top: -60px;
   margin-left: -355px;
}
.price4{
    position: absolute;
   top: 280px;
   left: -405px;
   color: #402101;
   font-family: 'Inter';
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px;
}
.potter4{
    position: absolute;
    top: 250px;
    left: -790px;
}

.img90{
   position: absolute;
   left: -360px;

}


h5{
    color: #402101;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; 
    float: left;
   margin-right: 24px;
}












.image19:hover{
    overflow: hidden;
    transform: scale(120%);
}
.images_text8{
    position: absolute;
    top: 870px;
    right: 330px;
    color: #B53B1B;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.images_text9{
    position: absolute;
    top: 900px;
    right: 340px;
    color: #402101;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.img20{
    position: absolute;
    top: 890px;
    right: 30px;
}
.image30{
    margin-left: 100px;
}
.img29{
    position: absolute;
    left: 430px;
    top: 10px;
}
.img18{
    position: absolute;
    left: 150px;
   top: 250px;
}
.img17{
    position: absolute;
    right: 0;
    top: 120px;
}
.image_card3{
    position: absolute;
    top: 320px;
    left: 960px;
}
.img21{
    position: absolute;
    right: -50px;
}
.image18{
    position: absolute;
    top: 260px;
    left: 540px;
}
.numbers_article{
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
    
    
}
.button15{
    width: 56px;
    height: 56px;
    border: 2px solid #B53B1B;
    border-radius: 10px;
    color: #402101;
    font-family: 'inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 
  
}
.button4{
    background: #B53B1B;
}

.contact_section{
    position: relative;
}
.form1{
    position: absolute;
    top: 250px;
    left: 222px;
    display: flex;
    width: 500px;
    height: 400px;
    padding: 24px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #FFF;
    
    background: rgba(64, 33, 1, 0.73);
    
    box-shadow: -1px -1px 4px 0px #FFF;
}
.main_title{
    position: absolute;
    top: 50px;
    left: 30px;
    color: #FFF;
    font-family: 'Inter';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; 
}
.area2{
    margin-top: 70px;
    display: flex;
    width: 440px;
    height: 96px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #FFF;
    background-color: transparent;
}
.input4{
    position: absolute;
    top: 120px;
    width: 190px;
    padding: 11px 116px 12px 8px;
    border-radius: 10px;
    border: 2px solid #FFF;
    background-color: transparent;
  
}
.input3{
    position: absolute;
    top: 120px;
    margin-left: 250px;
    width: 190px;
    padding: 11px 116px 12px 8px;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #FFF;
    background-color: transparent;
    
}

.input3::placeholder{
    color: rgba(255, 255, 255, 0.76);
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
}
.input4::placeholder{
    color: rgba(255, 255, 255, 0.76);
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;  
}
textarea::placeholder{
    color: rgba(255, 255, 255, 0.76);
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; 
    padding-left: 8px;
}
.submit2{
    position: absolute;
    top: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    padding: 19px 42px 18px 43px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D5906E;
    margin-right: 310px;
    border: none;
    color: #FFF;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; 
}
.section7_title{
    margin-left: 636px;
    margin-top: 160px;
    color: #402101;
    font-family: 'Inter';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
}
.section7{
    height: 408px;
    background: rgba(213, 144, 110, 0.30);
}
.active1{
    margin-left: 20px;
    margin-top: 32px;
    color: #B53B1B;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.no_active1{
    margin-left: 20px;
    margin-top: 10px;
    color: #623932;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.map_div{
    position: relative;
}
.map{
   position: absolute;
   top: -180px;
   margin-left: 625px;
}
.animation_object{
position: relative;
}
.animation_object::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: red;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
    
}
.active:hover{
   
        text-shadow:
        0 0 7px #6a91d4,
        0 0 10px #86b5e8,
        0 0 21px #6d94d2,
        0 0 42px rgb(31, 115, 189),
        0 0 82px rgb(49, 129, 163),
        0 0 92px rgb(33, 100, 182),
        0 0 102px rgb(42, 87, 142),
        0 0 151px rgb(0, 38, 255);
   
}
.no_active:hover{
    
        text-shadow:
        0 0 7px #6a91d4,
        0 0 10px #86b5e8,
        0 0 21px #6d94d2,
        0 0 42px rgb(105, 31, 189),
        0 0 82px rgb(163, 49, 49),
        0 0 92px rgb(122, 33, 182),
        0 0 102px rgb(142, 42, 59),
        0 0 151px rgb(255, 0, 0);
    
}

